<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/exporting.js"></script>

<h1>Tv Viewership for the World Series</h1>


<%= form_tag("/home", method: "get") do %>
  <%= select("team1", "team_id",
    Team.where(league: League.where(name:"National")).collect {|p| [ p.name, p.id ] },
    {prompt: 'Select National League Team'},
    { class: 'chosen-select'}
  ) %>

  <%= select("team2", "team_id",
    Team.where(league: League.where(name:"American")).collect {|p| [ p.name, p.id ] },
    {prompt: 'Select American League Team'},
    { class: 'chosen-select'}
  ) %>

<%= submit_tag("Submit") %>
<% end %>

<% if @combined_odds %>
  <h2>Team one: <%= @team_1.name %></h2>
  <h2>Team two: <%= @team_2.name %></h2>

  <h2>The odds of this series happening are <%= "#{@combined_odds}" %>/1</h2>
<% end %>

<div id="container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>


<script>
$(function () {
  $('#container').highcharts({
      chart: {
          type: 'bar'
      },
      title: {
          text: 'Predicted TV audience (in millions)'
      },
      subtitle: {
          text: 'Source: Wikipedia.org'
      },
      xAxis: {
          categories: ["Four Game Series", "Five Game Series", "Six Game Series", "Seven Game Sereies"],
          title: {
              text: null
          }
      },
      yAxis: {
          min: 0,
          title: {
              text: 'Population (millions)',
              align: 'high'
          },
          labels: {
              overflow: 'justify'
          }
      },
      tooltip: {
          valueSuffix: ' millions'
      },
      plotOptions: {
          bar: {
              dataLabels: {
                  enabled: true
              }
          }
      },
      legend: {
          layout: 'vertical',
          align: 'right',
          verticalAlign: 'top',
          x: -40,
          y: 100,
          floating: true,
          borderWidth: 1,
          backgroundColor: ((Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'),
          shadow: true
      },
      credits: {
          enabled: false
      },
      series: [{
          name: 'Viewers',
          data: [<%= @four_game_viewership %>,
            <%= @five_game_viewership %>,
            <%= @six_game_viewership %>,
            <%= @seven_game_viewership %>
            ]
      }]
  });
});


</script>
