<h1>Tv Viewership for the World Series</h1>


<%= form_tag("/home", method: "get") do %>
  <%= select("team1", "team_id",
    Team.where(league: League.where(name:"National")).collect {|p| [ p.name, p.id ] },
    {prompt: 'Select National League Team'},
    { class: 'chosen-select'}
  ) %>

  <%= select("team2", "team_id",
    Team.where(league: League.where(name:"American")).collect {|p| [ p.name, p.id ] },
    {prompt: 'Select American League Team'},
    { class: 'chosen-select'}
  ) %>

  <%= select("game_count", "game_count", [4,5,6,7],
    {prompt: 'Number of Games'},
    { class: 'chosen-select'}
  ) %>

<%= submit_tag("Submit") %>
<% end %>

<% if @combined_odds %>
  <h2>Team one: <%= @team_1.name %></h2>
  <h2>Team two: <%= @team_2.name %></h2>

  <h2>The odds of this series happening are <%= "#{@combined_odds}" %>/1</h2>
<% end %>

<% if @combined_odds %>
  <h2>The expected audience for this series is <%= "#{@viewership}" %> million </h2>
<% end %>
